{% extends 'base.html.twig' %} {% block title %} OKOHO|{{
  "title.contact" | trans
}}
{% endblock %} {% block body %}
<!-- Page Header Start -->
<div
  class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container text-center">
    <h1 class="display-4 text-white animated slideInDown mb-4">Contact Us</h1>
    <nav aria-label="breadcrumb animated slideInDown" class="d-none">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Pages</a>
        </li>
        <li class="breadcrumb-item text-primary active" aria-current="page">
          Contact
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->

<div class="container-xxl py-2">
  <div class="container">
    <div class="row g-5">
      <div class="wow fadeInUp" data-wow-delay="0.5s">
        <h2><i class="fa fa-plus-circle mb-2"></i> Add Job/ Events/ News</h2>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		
	{{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock %}
