{% extends 'base.html.twig' %}
{% block title %}
    OHOKO| {{ "Impressum"| trans }}
{% endblock %}
{% block body %}
<!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-10">{{ 'Impressum'|trans }}</h1>
            
        </div>
    </div>
<!-- Page Header End -->
  <main id="content" class="neve-main">

    <div class="container single-page-container ml-50">
      <div class="row">
         <div class="nv-single-page-wrap col">
          <div class="nv-page-title-wrap nv-big-title" >
            <div class="nv-page-title ">
             <center><h1><b>IMPRESSUM</b></h1></center>
            </div><!--.nv-page-title-->
          </div> <!--.nv-page-title-wrap-->
            <div class="nv-content-wrap entry-content">
              <h3 class="mt-5">OKOHO Consulting UG (haftungsbeschränkt)</h3>
<p></p>
              <p><strong>Adresse</strong><br>
              Lange Str. 8<br>
              32791 Lage (Germany)</p>
              <p><strong>Vertreten durch</strong><br />
              Dr. Bertrand Toumi<br />
                               Gründer & Geschäftsführer<br />
              <p><strong>Kontakt</strong>
<br>
              Telefon: +49 160 96 20 50 12<br>
              E-Mail: info@okoho.de</p>
              <p><strong>Verbraucher­streit­beilegung/Universal­schlichtungs­stelle</strong><br>
              Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.<br>
              Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
            </div>
          </div>
    </div>
  </div>

</main>
    
{% endblock %}
