{% extends 'base.html.twig' %}



{% block title %}
  OKOHO|  {{ "title.learn"| trans }}
{% endblock %}

{% block body %}
  <!-- Page Header Start -->
  <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
      <h1 class="display-4 text-white animated slideInDown mb-4">Learn</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
          <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
          <li class="breadcrumb-item text-primary active" aria-current="page">Learn</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->
  <!-- Courses Start -->
  <div class="container-xxl courses my-6 py-6 pb-0">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">{{ "course_start.h6" |trans }}</h6>
        <h1 class="display-6 mb-4">{{ "course_start.h1" |trans }}</h1>
      </div>
      <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
            <div class="text-center p-4 pt-0">
              <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">$120</div>
              <h5 class="mb-3">Cours niveau A1</h5>
              <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
              <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>
              </ol>
            </div>
            <div class="position-relative mt-auto">
              <img class="img-fluid" src="http://via.placeholder.com/550x450" alt="">
              <div class="courses-overlay">
                <a class="btn btn-outline-primary border-2" href="">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
            <div class="text-center p-4 pt-0">
              <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">$120</div>
              <h5 class="mb-3">Cours niveau A2</h5>
              <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
              <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>
              </ol>
            </div>
            <div class="position-relative mt-auto">
              <img class="img-fluid" src="http://via.placeholder.com/550x450" alt="">
              <div class="courses-overlay">
                <a class="btn btn-outline-primary border-2" href="">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
            <div class="text-center p-4 pt-0">
              <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">$99</div>
              <h5 class="mb-3">Cours niveau B1</h5>
              <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
              <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>
              </ol>
            </div>
            <div class="position-relative mt-auto">
              <img class="img-fluid" src="http://via.placeholder.com/550x450" alt="">
              <div class="courses-overlay">
                <a class="btn btn-outline-primary border-2" href="">Read More</a>
              </div>
            </div>
          </div>
        </div>

      </div>
        <div class="row g-4 justify-content-center">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
              <div class="text-center p-4 pt-0">
                <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">$99</div>
                <h5 class="mb-3">Cours niveau B2</h5>
                <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                <ol class="breadcrumb justify-content-center mb-0">
                  <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                  <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>
                </ol>
              </div>
              <div class="position-relative mt-auto">
                <img class="img-fluid" src="http://via.placeholder.com/550x450" alt="">
                <div class="courses-overlay">
                  <a class="btn btn-outline-primary border-2" href="">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
              <div class="text-center p-4 pt-0">
                <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">$99</div>
                <h5 class="mb-3">Cours niveau C</h5>
                <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                <ol class="breadcrumb justify-content-center mb-0">
                  <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                  <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>
                </ol>
              </div>
              <div class="position-relative mt-auto">
                <img class="img-fluid" src="http://via.placeholder.com/550x450" alt="">
                <div class="courses-overlay">
                  <a class="btn btn-outline-primary border-2" href="">Read More</a>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-8 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
          {{ render(controller('App\\Controller\\DefaultController::makeappointement')) }}

        </div>
      </div>
    </div>
  </div>
  <!-- Courses End -->
{% endblock %}
